

*,
::before,
::after{
  box-sizing: border-box;
  
}
/*modal container adjustments*/
#popcon{
  height: 20px;
}

/*invisible divs needed to store frontend recipe names*/
#testdivs{
  color: white;
}

/*breadcrumb navigation bar styling*/
#navContain{
  padding-top: 75px;
  border-radius: 15px;
  border-color: #23d160;
  border-width: 1px;
}

/*container for search recipe button*/
#searchcontain{
  padding-top: 10px;
  padding-bottom: 10px;
}
/*dropdown menu styling for each of the nine*/
.menu{
  width: 75px;
  height: 30px;
  border-radius: 5px;
  border-color: #23d160;
  padding: 5px;
  font-size: 10px;
  color: #23d160;

}
/*editing style of table row and columns*/
tr{
  padding-top: 15px;
}
th{
  padding-right: 10px;
}

/*setting buttons as invisible at first. This is altered once an event is committed on the user's side*/
#btns{
  display: none;
}
/*ingredient tags in popup modal*/
#ingredList{
  padding-left: 30px;
}

#Table1{
  
  max-width: 250px;
}

/*section for notused ingredients. Its display is changed using an if statement*/
#notusedIngredients{
  padding-top: 30px;
  display: none;
}
/*bottom portion of the input card. This contains the html table and buttons*/
#TblBtns{

  padding-top: 20px;
  display: grid;
    grid-template-columns: auto auto  ;
    padding-left: 15px;
}
/*input card title*/
#cContent{
  padding-left: 15px;
}

/*3 different rows of dropdown containers*/
#dropContain{

  padding-top: 20px;
  display: grid;
    grid-template-columns: auto auto auto ; /*sets dropdowns as side by side*/
}
#dropContain1{
  
  padding-top: 20px;
  display: grid;
    grid-template-columns: auto auto auto ;
}
#dropContain2{
  
  padding-top: 20px;
  display: grid;
    grid-template-columns: auto auto auto ;
}

/*styling recent searches div*/
#recentText{
  padding-left:10px;
}

/*div that contains the data/results of the recipe, such as image, recipe name, difficulty, etc.*/
.info1{
  display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;/*creating a grid organizational structure*/
    padding-top: 25px;

}

#popup{
  width: 600px;
}
/*filler img*/
.recipeImg{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: lightgray;
}
/*actual recipe img*/
#foodimg{

  max-width: : 200px;
  max-height: 200px;
  border-radius: 5px;
}
/*input card for select option menus, buttons, etc*/
.Fwidget{
  padding-right: 5px;
}
/*result card for searched recipe*/
.Fresults{
  padding-left: 5px;
}

#scoreTitle{
  padding-left: 30px;
}
/*content div for data in modal/popup (ingredients, summary, etc*/
#popUpContent{
  padding-left: 30px;

}

#otherRecipe{
  padding-left: 30px;
}
/*nutrient info container in modal/popup */
#nutrientInfo{
  padding-left: 60px;
}
/*parent  div that contains input and results card*/
.fSearch-container{
  display: grid;
    grid-template-columns: auto auto;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 40px;
    padding-bottom: 100px;
}
/*progress bar container*/
.pContain {
  display: grid;
  grid-template-columns: auto auto;
}

.navContain{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 55px;
  padding-right: 100px;
  padding-left: 100px;
}

/* icon styling*/
#icon{
  padding-left: 10px;
}
body{
  margin: 0;
} 
/* parent div within body*/
#bodyDiv{
  padding-top: 50px;
}
/*page title*/
#Stitle{
  padding-top: 70px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  left: 39.75%;
}
#Stitle:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid #55a65b;
}



