

*,
::before,
::after{
  box-sizing: border-box;
  
}

/*filler div to provide space on top of nav bar*/
#filler{
  height: 75px
}

#searchBar{
	padding-top: 30px;
}
/*recent title*/
#RecentHistory{
	padding:10px;
}
#recentText{
	padding-left:10px;
}
/*results div*/
.info1{
	display: grid;
  	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  	padding-top: 25px;

}
/*modal*/
#popup{
	width: 600px;
}
/*filler image for recipe */
.recipeImg{
	width: 200px;
	height: 200px;
	border-radius: 5px;
	background-color: lightgray;


}
/*recipe image*/
#foodimg{

	max-width: : 200px;
	max-height: 200px;
	border-radius: 5px;
}
/*recent searches div*/
#recent{
	height: 153px;
	overflow: auto;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #23d160;
}
#RecentHistory {
	padding-top: 30px;
	padding-bottom: 32px;
}
/*input card*/
.Fwidget{
	padding-right: 5px;
}
/*results card*/
.Fresults{
	padding-left: 5px;
}

/*nutrition score text*/
#NutritionScoreTitle{
	padding-left: 30px;
}

/*content div for data in modal/popup (ingredients, summary, etc*/
#popUpContent{
	padding-left: 30px;

}
/* similar recipes div on popup/modal*/
#otherRecipe{
	padding-left: 30px;
}

/*nutrition stats div*/
#nutrientInfo{
	padding-left: 60px;
}
/*parent body div*/
.fSearch-container{
	display: grid;
  	grid-template-columns: auto auto;
  	padding-left: 130px;
  	padding-right: 130px;
  	padding-top: 40px;
  	padding-bottom: 100px;
}
/*progress bar containers*/
.pContain {
	display: grid;
	grid-template-columns: auto auto;
}


.navContain{
  display: grid;
  grid-template-columns: auto auto auto;
  
  padding-right: 100px;
  padding-left: 100px;
}


#icon{
	padding-left: 10px;
}

/*another body div */
#bodyContain{
	padding-top: 50px;
}
/*modal taken from Bulma IO*/
#popcon{
  height: 20px;
}

/*undisplayed divs needed to store frontend recipe names*/
#testdivs{
  color: white;
}


/*page title*/
#Greentitle{
	padding-top: 70px;
	display: inline-block;
  padding-bottom: 5px;
  position: relative;
  left: 38%;
}
#Greentitle:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid white;
}

